<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Body!</title>
</head>
<body>
<h1>Hello from "hello controller"</h1>
<h1>List of Products:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="p : ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td>
            <form action="/products/delete" method="DELETE">
                <input type="input" name="id" th:value="${p.id}" hidden>
                <input type="submit" value="Delete">

            </form>
            <a th:href="@{/products/delete(id=${p.id})}" th:text="Delete"></a></td>
        <td><a th:href="@{/products/edit(id=${p.id})}" th:text="Edit"></a></td>

        <td><form action="/products/disc" method="GET">
            <input type="input" name="id" th:value="${p.id}" hidden>
            <input type="text" id="di" name="did">
            <input type="submit" value="applyDisc">
        </form></td>
    </tr>

    <tr>
        <td>16</td>
        <td>14</td>
        <td>10</td>
    </tr>
</table>

<a href="/products/new"> Create Product</a>

<form action="/products/discount" method="GET">
    <label for="dis">Discount</label><br>
    <input type="text" id="dis" name="dis">
    <input type="submit" value="APPLY">
</form>

</body>
</html>